/*======================================
=            Section Colors            =
======================================*/
html,
body {
  background-color: #72ac93; }

#header {
  background-color: #9bce7d; }

#footer {
  background-color: #699e87; }

/*=====  End of Section Colors  ======*/
/*==============================
=            Layout            =
==============================*/
#header {
  -webkit-box-shadow: 0 0.125em 0.1875em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.125em 0.1875em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125em 0.1875em 0 rgba(0, 0, 0, 0.2); }

.flex-container {
  display: flex;
  align-items: center; }

.container-pad {
  padding: 2.5em; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em; }

/*=====  End of Layout  ======*/
/*=================================
=            Alignment            =
=================================*/
.text-centered {
  text-align: center; }

/*=====  End of Alignment  ======*/
/*==================================
=            Typography            =
==================================*/
body {
  font-family: "Work Sans", sans-serif; }

#nav a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.0625em;
  border: 0.0625em solid rgba(255, 255, 255, 0);
  padding: 0.625em; }

#nav a:hover {
  border: 0.0625em solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.15s ease;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  background-clip: padding-box; }

#nav a:active {
  position: relative;
  top: 0.0625em; }

h3 {
  font-size: 2.5em;
  font-weight: 700; }

.project-title h3 {
  color: #ffffff; }

h4 {
  font-size: 1.8em;
  font-weight: 400; }

p {
  font-size: 1em;
  font-weight: 300; }

#footer p {
  font-size: 0.8em; }

/*=====  End of Typography  ======*/
/*===================================
=            List Styles            =
===================================*/
#header #nav ul {
  text-align: right; }
  #header #nav ul li {
    display: inline-block; }

/*=====  End of List Styles  ======*/
