/* Bootstrap overrides */


/* Variables */

$green: #9bce7d;
$dark-green: #76b852;
$dark-green-r: 118;
$dark-green-g: 184;
$dark-green-b: 82;
$link-green: #3c763d;
$light-teal: #72ac93;
$teal: #699e87;
$red: #bd0102;
$gray: #6b6b6b;
$default-font: 'Work Sans',
sans-serif;
$bold: 700;
$normal: 400;
$thin: 300;

/* Mixins */

@mixin box-shadow($offset-horizontal, $offset-vertical, $blur, $color) {
  -webkit-box-shadow: $offset-horizontal $offset-vertical $blur $color !important;
  -moz-box-shadow: $offset-horizontal $offset-vertical $blur $color !important;
  box-shadow: $offset-horizontal $offset-vertical $blur $color !important;
}

@mixin box-shadow-spread($offset-horizontal, $offset-vertical, $blur, $spread, $color) {
  -webkit-box-shadow: $offset-horizontal $offset-vertical $blur $spread $color;
  -moz-box-shadow: $offset-horizontal $offset-vertical $blur $spread $color;
  box-shadow: $offset-horizontal $offset-vertical $blur $spread $color;
}


/* Universal */

body {
  padding: 0;
  background: $green;
  // Fallback for old browsers
  background: -webkit-linear-gradient(right, $green, #8DC26F);
  background: -moz-linear-gradient(right, $green, #8DC26F);
  background: -o-linear-gradient(right, $green, #8DC26F);
  background: linear-gradient(to left, $green, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  padding-right: 0.3em;
}


/* Typography */

h1 {
  font-family: $default-font !important;
  font-weight: $bold !important;
  // letter-spacing: 0.1em;
  font-size: 4em !important;
  text-shadow: 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
  a {
    color: #ffffff;
  }
  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

h2 {
  font-size: 2.6em !important;
}

th a {
  color: $link-green !important;
}

.dark-links a {
  color: $link-green !important;
}

.subtitle {
  font-size: 0.3em;
  text-shadow: 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.navLink {
  color: $dark-green;
  font-size: 0.9em;
}

.navLink:hover {
  color: $green;
}

.logout-link {
  color: #ffffff !important;
}

.footer-text {
  font-size: 1em;
  color: #4d4d4d;
}


/* Utility classes */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
}

.pointer:hover {
  cursor: pointer;
}

.bg-color {
  background-color: $dark-green !important;
}

.no-border {
  border: none !important;
}

.no-radius {
  border-radius: 0 !important;
}

.b-border {
  border-bottom: 1px solid rgba(78, 122, 54, 0.4) !important;
}

.shadow-spread {
  @include box-shadow-spread(0, 0.2em, 0.6em, 0, rgba($dark-green-r, $dark-green-g, $dark-green-b, 1));
  position: relative;
}

.shadow {
  @include box-shadow(0, 0, 0.5em, rgba(0, 0, 0, 0.2));
}

.icon {
  display: inline-block;
  padding-right: 0.3em;
}

.middle {
  vertical-align: middle;
}

.align-fa {
  vertical-align: sub;
}

.full-height {
  height: 100%;
}

.bg-lamp {
  background-color: #ffffff;
  background: url("../images/bg-lamp.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.ad-container {
  text-align: center;
  padding-bottom: 1em;
}


/*==================================
=            Animations            =
==================================*/

.ng-enter,
.fade {
  animation: fadeIn 0.8s linear;
  -webkit-animation: fadeIn 0.8s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*=====  End of Animations  ======*/
