<div class="container">
  <h2>Account Settings:</h2>
  <form role="form" class="form-horizontal" ng-submit="updateUser()">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="firstName">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="firstName" id="firstName" placeholder="Enter first name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="lastName">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="lastName" id="lastName" placeholder="Enter last name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" ng-model="email" id="email" placeholder="Enter email address">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="password">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" ng-model="password" id="password" placeholder="Enter new password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="phone">Phone</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" ng-model="phone" id="phone" placeholder="Enter phone number">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-default">Update</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="returnHome()">Cancel</button>
          </div>
          <div class="btn-group">
            <button ng-disabled="submitted !== true" type="button" class="btn btn-default" ng-click="returnHome()">Back</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-success" ng-show="updated === true">
          <strong>Success!</strong> User updated.
        </div>
        <div class="alert alert-danger" ng-show="updated === false">
          <strong>Failure!</strong> User not updated.
        </div>
      </div>
    </div>
  </form>
</div>
