<div class="container-fluid" ng-init="onInit()">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><a ng-href="/mycontrollers"><i class="fa fa-gamepad fa-2x icon align-fa" aria-hidden="true"></i><span class="middle">View Controllers</span></a></div>
        <div class="panel-body">Lists the controllers associated to your account</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><a ng-href="/mydevices/add"><i class="fa fa-plus fa-2x icon align-fa" aria-hidden="true"></i><span class="middle">Add Devices</span></a></div>
        <div class="panel-body">Register devices connected to your controller to be able to manage them</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><a ng-href="/mydevices"><i class="fa fa-list-alt fa-2x icon align-fa" aria-hidden="true"></i><span class="middle">Manage Devices</span></a></div>
        <div class="panel-body">Unregister or manipulate registered devices</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><a ng-href="/mysubscription"><i class="fa fa-shopping-cart fa-2x icon align-fa" aria-hidden="true"></i><span class="middle">Manage Subscription</span></a></div>
        <div class="panel-body">Purchase a premium subscription or revert back to a trial version</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><a ng-href="/myaccountsettings"><i class="fa fa-cogs fa-2x icon align-fa" aria-hidden="true"></i><span class="middle">Account Settings</span></a></div>
        <div class="panel-body">View and update account information</div>
      </div>
    </div>
  </div>
</div>
